/* Skeleton Custom CSS */

#sidebar textarea
{
    width:90%;
    
    height:80px;
}

ul.ticks
{
    list-style-type:none;
    list-style-position: inside;
    padding-left:22px;
}

ul.ticks li
{
    /*margin-bottom:18px;*/
    
    padding:12px;
    position:relative;
}

ul.ticks li.complete {color:#ddd;}

ul.ticks li:hover {background-color:#eef;}

ul.ticks li>a , ul.ticks li>div {display:table-cell;}
ul.ticks li>a
{
    font-family:'FontAwesome';
    font-size:22pt;
    
    vertical-align: middle;
    
    padding-right:22px;
    padding-top:4px;
    color:black;
    text-decoration: none;
}

ul.ticks li>a:after { content: "\f096"; }
ul.ticks li.complete>a:after { content: "\f046"; color:#ddd;}
ul.ticks li>a:hover:after { content: "\f046"; color:green;}
ul.ticks li.complete>a:hover:after { content: "\f096"; color:green;}
ul.ticks li>a:active:after { content: "\f046"; color:red;}

ul.ticks li span
{
    position:absolute;
    top:2px; right:4px;
    
    display:none;
    
    cursor:pointer;
}

ul.ticks li span a {display:inline-block;}

ul.ticks li:hover span
{
    display:block;
}

ul.ticks li span a:hover
{
    color:green;
}